<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-5.0.0-beta2-dist/css/style.css"/>
    </head>
    <body>
        <div class="symptom2">
            <h1>Pneumonia Diagnosis and Treatment:</h1>   
            <br><br><br><br>
            <p3>When you visit your doctor to see if you have pneumonia, they’ll ask about your symptoms. Then they may run a number of tests to get an idea of what’s going on, including:<br><br>

                1.Listening to your lungs, with a stethoscope, for a crackling or bubbling sound.<br>
                2. Chest X-ray.<br>
                3.Blood test to check white blood cell count.<br>
                4.Sputum tests (using a microscope to look at the gunk you cough up).<br>
                5.A pulse oximetry test, which measures the oxygen in your blood.<br>
                If an X-ray shows there’s fluid around your lungs, your doctor may do a pleural fluid culture. In this test, they stick a needle into your chest wall and take a sample of the fluid. It’s sent to a lab and checked for signs of infection.<br><br>
                
                In severe cases, your doctor might also do a bronchoscopy. They’ll use an instrument called a bronchoscope to look at your lung’s airways.<br><br>
                
                What Are the Treatments?<br>
                How your pneumonia is treated depends on what caused it and how bad your symptoms are.<br><br>
                
                Continued<br>
                
                If you have bacterial pneumonia, your doctor will give you antibiotics to treat it. They’ll also take steps to prevent complications.<br><br>
                If your pneumonia was caused by a virus, time and rest are key to your recovery. Viral pneumonia usually gets better on its own in 1 to 3 weeks. But your doctor may recommend treatment that includes:<br><br>
                
                
               1. Drinking lots of fluids to loosen the gunk in your lungs<br>
               2.Lots of rest<br>
               3. Medicines to control your fever (ibuprofen or acetaminophen)<br><br>
                If it becomes severe, you may have to stay in the hospital for treatment. While you’re there, your doctor will probably give you fluids or antibiotics through an IV tube. You may even need oxygen therapy or breathing treatments.</p3><br>
        </div>
        <div class="wrapper2">
            <nav>
              <ul class="menubar2">
               <li><a href="index"><strong>Home</strong></a></li>
                <li><a href="symptom"><strong>Symptoms</strong></a></li>
                <li><a href="types"><strong>Types</strong></a></li>
                <li class="active"><a href="diagnosis"><strong>Diagnosis</strong></a></li>
              </ul>
            </nav>
          </div>
          <div class="wrapper5">
            <nav>
              <ul class="menubar5">
               <li><a href="index#info"><strong>BACK</strong></a></li>
              </ul>
            </nav>
          </div>
    </body>
</html>