<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-5.0.0-beta2-dist/css/style.css"/>
    </head>
    <body>
        <div class="symptom2">
            <h1>Symptoms Of Pneumonia</h1>   
            <br><br><br><br>
            <p3>Pneumonia, a lung infection, can cause coughing, hacking, or wheezing. You might think it’s just a cold or the flu. How can you tell the difference? Your other symptoms can give you some clues.<br><br>

                <h3>Common Pneumonia Symptoms</h3><br><br>
                Pneumonia symptoms can range from mild to severe, depending on what’s causing the illness and how healthy you are in general. They can include:<br><br>
                
                1.High fever, up to 105 F<br>
                2.Coughing up greenish, yellow, or bloody mucus<br>
                3.Chills that make you shake<br>
                4.Feeling like you can’t catch your breath, especially when you move around a lot<br>
                5.Feeling very tired<br>
                6.Loss of appetite<br>
                7.Sharp or stabbing chest pain (you might feel it more when you cough or take a deep breath)<br>
                8.Sweating a lot<br>
                9.Fast breathing and heartbeat<br>
                10.Lips and fingernails turning blue<br>
                11.Confusion (in older people)<br><br>
                <h3>Bacterial vs. Viral Pneumonia Symptoms</h3><br><br>
                Bacteria and viruses are the most common causes of pneumonia. Fungi and parasites can sometimes cause it.<br><br>
                
                When the cause is bacteria, the illness can come on either slowly or quickly. It tends to be more serious than other types.<br><br>
                
                
                When a virus causes your pneumonia, you’re more likely to notice symptoms over several days. Early signs will look like the flu -- such as fever, dry cough, headache, and weakness -- but get worse in a day or two.<br><br>
                
                <h3>Pneumonia Symptoms in Children</h3><br><br>
                When kids have pneumonia, their symptoms might be harder to spot. They may have:<br><br>
                
                
                1.Rapid breathing<br>
                2.Trouble breathing<br>
                3.Fever<br>
                4.Cough<br>
                5.Wheezing<br>
                6.Skin, lips, or fingertips that look blue<br>
                Symptoms in babies might be vague, like fussiness or trouble feeding.</p3><br>
        </div>
        <div class="wrapper2">
            <nav>
              <ul class="menubar2">
               <li><a href="index"><strong>Home</strong></a></li>
                <li class="active"><a href="symptom"><strong>Symptoms</strong></a></li>
                <li><a href="types"><strong>Types</strong></a></li>
                <li><a href="diagnosis"><strong>Diagnosis</strong></a></li>
              </ul>
            </nav>
          </div>
          <div class="wrapper3">
            <nav>
              <ul class="menubar3">
               <li><a href="index#info"><strong>BACK</strong></a></li>
              </ul>
            </nav>
          </div>
    </body>
</html>