<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-5.0.0-beta2-dist/css/style.css"/>
    </head>
    <body>
        <div class="symptom2">
            <h1>TypesOf Pneumonia</h1>   
            <br><br><br><br>
            <p3>If you get pneumonia, it means you have an infection in your lungs caused by bacteria, viruses, and other germs. Learning which type you have will help your doctor suggest a treatment.<br><br>

                Doctors describe the type of pneumonia you have based on where you got the infection. You may hear health professionals use these terms: <br><br>
                
                <h3>Hospital-acquired pneumonia.</h3> You catch this type during a stay in a hospital. It can be serious because the bacteria causing the pneumonia can be resistant to antibiotics.<br><br>
                
                You're more likely to get this type if:<br>
                
               1. You're on a breathing machine<br>
               2.You can't cough strongly enough to clear your lungs<br>
               3. You have a tracheostomy (trach) tube to help you breathe<br>
               4.Your immune system -- your body's defense against germs -- is weak from a disease or treatment<br><br>
                <h3>Community-acquired pneumonia.</h3> This is a fancy way of saying you got infected somewhere other than a hospital or long-term care facility. Community-acquired pneumonia can be caused by bacteria, viruses, and fungi. Vaccines can help protect against the flu virus and certain bacteria that can also cause pneumonia.<br><br>
                
                <h5>Continued</h5><br>
                Community-acquired pneumonia also includes aspiration pneumonia, which happens when you breathe food, fluid, or vomit into your lungs. It's more likely if you have problems swallowing or coughing. If you can't cough up the material you took in, bacteria can multiply in your lungs.<br><br>
                
                
                Doctors also break down the kinds of pneumonia by the causes of the disease: bacteria, viruses, or fungi.<br><br>
                
                <h3>Bacterial Pneumonia</h3><br>
                Bacteria cause most cases of community-acquired pneumonia in adults.<br>
                
                You can catch pneumonia when someone who is infected coughs or sneezes. Bacteria-filled droplets get into the air, where you can breathe them into your nose or mouth.<br>
                
                If you have a weakened immune system, your chances of getting pneumonia are higher. You're also more likely to get it if you have a condition like asthma, emphysema, or heart disease.<br><br>
                
                
                You may notice symptoms like:<br><br>
                
                1.A cough that brings up mucus<br>
                2.Fever over 100.4 F<br>
                3.Fast breathing<br>
                4.Shortness of breath<br>
                5.Chest pain<br>
                6.Fatigue<br><br>
                Antibiotics treat bacterial pneumonia. Your doctor might do tests to find the type of bacteria that are causing your infection so you can get the right one. This would more likely happen with hospital-acquired pneumonia.<br><br>
                
    
                <h5>Continued</h5><br>
                If you have community-acquired pneumonia, antibiotics that you take by mouth are usually enough to treat the infection. If your symptoms are severe, you may need to go to the hospital and get treated with:<br><br>
            
                1.Antibiotics and fluids that your doctor puts in your veins though an IV<br>
                2.Oxygen<br>
                3.Breathing treatments<br>
                <h3>Walking pneumonia</h3> is a less severe form of bacterial pneumonia. Sometimes, doctors call it "atypical" pneumonia.<br><br>
                
                Symptoms can be so mild that you don't know you have it. You may feel well enough that you're able to go about your regular activities, which is where the "walking" in the name comes from.<br><br>
                
                Walking pneumonia can feel like a bad cold, with symptoms like:<br><br>
                
                1.Fever<br>
                2.Cough<br>
                3.Headache<br>
                4.Chills<br>
                Antibiotics treat the infection. You're likely to start to feel better in 3 to 5 days, but the cough can last a few weeks.<br><br>
                
                <h3>Viral Pneumonia</h3><br>
                Viruses are the second most common cause of pneumonia. Many kinds cause the disease, including some of the same viruses that bring on colds and flu and the coronavirus that causes COVID-19.<br><br>
                
                <h5>Continued</h5><br>
                The symptoms of viral pneumonia are similar to the flu, including:<br><br>
                
                1.Fever<br>
                2.Chills<br>
                3.Dry cough, which may get worse and make mucus<br>
                4.Stuffy nose<br>
                5.Muscle pain<br>
                6.Headache<br>
                7.Tiredness<br>
               8. Weakness<br><br>
                
                These symptoms can range from mild to severe.<br><br>
                
                Antibiotics won't treat viral pneumonia, because they work only on bacteria. Treatment usually depends on the kind of symptoms you have. For example, if you have asthma or emphysema, you may need treatment to help with breathing.<br><br>
                
                Drink extra fluids to help loosen mucus in your chest. To ease pain and bring down a fever, your doctor may suggest that you try acetaminophen or a non-steroidal anti-inflammatory drug (NSAID) like ibuprofen. They may also recommend an antiviral drug or a medication to help you breathe easier.<br><br>
                
                <h3>Fungal Pneumonia</h3><br>
                Fungi are a less common cause of pneumonia. You're not likely to get fungal pneumonia if you're healthy. But you have a higher chance of catching it if your immune system is weakened from:<br><br>
                
                1.An organ transplant<br>
                2.Chemotherapy for cancer<br>
                3.Medicines to treat an autoimmune disease like rheumatoid arthritis<br>
                4.HIV<br><br>
                <h5>Continued</h5>
                You get fungal pneumonia by breathing in tiny particles called fungal spores. People in certain jobs are more likely to come into contact with them, such as:<br><br>
                
                1.Farmers who work around bird, bat, or rodent droppings<br>
                2.Landscapers and gardeners who work with the soil<br>
                3.Members of the military or construction workers who are around a lot of dust<br><br>
                Symptoms of fungal pneumonia are similar to other types, including:<br><br>
                
                1.Fever<br>
                2.Cough</p3><br>
        </div>
        <div class="wrapper2">
            <nav>
              <ul class="menubar2">
               <li><a href="index"><strong>Home</strong></a></li>
                <li><a href="symptom"><strong>Symptoms</strong></a></li>
                <li class="active"><a href="types"><strong>Types</strong></a></li>
                <li><a href="diagnosis"><strong>Diagnosis</strong></a></li>
              </ul>
            </nav>
          </div>
          <div class="wrapper4">
            <nav>
              <ul class="menubar4">
               <li><a href="index#info"><strong>BACK</strong></a></li>
              </ul>
            </nav>
          </div>
    </body>
</html>